{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sherayians</title>
    <link rel="stylesheet" href="{% static 'aptitude.css' %}">
</head>
<body style="background-color: black;">
    <nav id="navigation">
        <div id="division">🤶 Sheryians coding school
            <a id="anchor" href="{% url 'myapp:home' %}">Home</a>
            <a id="anchor" href="{% url 'myapp:courses' %}">Courses</a>
            <a id="anchor" href="{% url 'myapp:bootcamp' %}">Bootcamp(Kodr)</a>
            <a id="anchor" href="">Request Callback</a>
            <button id="button">Sign in</button>
        </div>
    </nav>
    <br><br>
    <section id="sec_1">
        <div id="div_1">
            <div id="child_1">
                <p class="large_head">Aptitude & Reasoning for</p>
                <p class="large_head">Campus Placements.</p>
                <br><br>
                <button class="web_button">Backend Development</button>
                <button class="web_button">Logic Building</button><br><br>
                <button class="web_button">Course Supports Active Updates</button>
                <br><br>
                <p id="money">Only <span style="color: aqua;">₹ 999*</span></p><br><br>
                <button id="now">Buy Now - Start Learning</button>
            </div>
            <div id="child_2">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DVbvFQ1Awh8?si=ZGZC9ucWt5YbI9XV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <footer>
        <div id="footer">
            <div class="foot_div">
                <p>🤶</p><br>
                <p>Let's connect with our socials</p>
            </div>
            <div class="foot_div">
                <h4>COMPANY</h4><br>
                <a href="">About Us</a><br><br>
                <a href="">Support</a><br><br>
                <a href="">Privacy Policy</a><br><br>
                <a href="">Terms and Condition</a><br><br>
                <a href="">Pricing and Refund</a><br><br>
                <a href="">Hire From Us</a><br><br>
                <a href="">Bug Bounty</a><br>
            </div>
            <div class="foot_div">
                <h4>COMMUNITY</h4><br>
                <a href="">Inertia</a><br><br>
                <a href="">Discord</a>
            </div>
            <div class="foot_div">
                <h4>Get In Touch</h4><br>
                <a href="">+91 8109161752</a><br><br>
                <a href="">+91 9691778470</a><br><br>
                <a href="">hello@sheryianscom</a><br><br>
                <a href="">
                    <p>23-B,Indrapuri Sector C,</p>
                    <p>Bhopal(MP),462021</p>
                </a>
            </div>
        </div>
    </footer>
    <hr id="line">
    <hr id="line1">
    <br>
    <section>
        <div id="bottom">
            <h2 class="bottom_tag">Copyright @ 2024 Sheryians Pvt.Ltd.</h1>
            <h2 class="bottom_tag">All Rights Reserved.</h1>
        </div>
    </section>
</body>
</html>