{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sherayians</title>
    <link rel="stylesheet" href="{% static 'sheryians.css' %}">
</head>
<body style="background-color: black;">
    <nav id="navigation">
        <div id="division">🤶 Sheryians coding school
            <a id="anchor" href="{% url 'myapp:home' %}">Home</a>
            <a id="anchor" href="{% url 'myapp:courses' %}">Courses</a>
            <a id="anchor" href="{% url 'myapp:bootcamp' %}">Bootcamp(Kodr)</a>
            <a id="anchor" href="">Request Callback</a>
            <button id="button">Sign in</button>
        </div>
    </nav>
    <br><br>
    <section>
    <center>
        <pre id="pre">
We only <span id="span">teach</span>
what we are really
really <i>good</i> at.
        <pre>
    </center>
    </section>
<section>
    <pre id="small_p">
            <b>Get ready to <span id="span">accelerate your</span> 
            <span id="span">career</span> with customized Courses
            and leave your mark in the teach
            industry</b>
    </pre>
</section>
<br><br>
<button id="check_button">Check Courses-Make an Impact</button>
<div id="h1">
    <div id="sub">
        <h2>25k+</h2>
        <p>Students taught</p>
    </div>
    <div id="sub1">
        <h2>20+</h2>
        <p>Instructors</p>
    </div>
    <div id="sub2">
        <h2>431K+</h2>
        <p>Youtube Subs.</p>
    </div>
</div>
<h1 class="headings">
    we do whatever it takes to help you
</h1>
<h1 class="headings">
    <span id="span">understand the concepts.</span>
</h1>
<br>
<section>
    <div id="img_div">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/60SRAWmMXyc?si=uSD2gfCPxBYLN4Tu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>
<section>
    <button id="free_button">Explore free learning</button>
</section>
<br>
<section id="sec">
    <h1 id="offer_head">Courses Offered</h1>
    <br>
    <div id="main_div">
        <div class="link">
            <a href="{% url 'myapp:frontend' %}">
                <img id="pic1" src="{% static 'images/pic1.jpg' %}" alt="">
            </a>
        </div>
        <div class="link">
            <a href="{% url 'myapp:backend' %}">
                <img id="pic2" src="{% static 'images/pic2.webp' %}" alt="">
            </a>
        </div>
        <div class="link">
            <a href="{% url 'myapp:aptitude' %}">
                <img id="pic3" src="{% static 'images/pic3.jpg' %}" alt="">
            </a>
        </div>
        <div class="link">
            <a href="{% url 'myapp:java' %}">
                <img id="pic4" src="{% static 'images/pic4.webp' %}" alt="">
            </a>
        </div>
    </div>
    <div id="main_div1">
        <div class="tech">
            <p class="cour">Front-End Domination:</p>
            <p class="cour">Create Anything with Code</p>
            <button class="lang">HINDI</button>
        </div>
        <div class="tech">
            <p class="cour">Back-End Domination:</p>
            <p class="cour">Create Efficient Back-End.</p>
            <button class="lang">HINDI</button>
        </div>
        <div class="tech">
            <p class="cour">Aptitute & Reasoning for</p>
            <p class="cour">Campus Placements</p>
            <button class="lang">HINGLISH</button>
        </div>
        <div class="tech">
            <p class="cour">Java & DSA Domination</p>
            <button class="lang">HINGLISH</button>
        </div>
    </div>
    <div id="main_div2">
        <div class="price">
            <p class="price_dis"><span id="span">Limited Time Discount</span></p>
            <h1 class="price_dis" id="price_font">₹ 4999 <strike> ₹9999</strike></h1>
        </div>
        <div class="price">
            <p class="price_dis"><span id="span">Limited Time Discount</span></p>
            <h1 class="price_dis" id="price_font">₹ 5999 <strike> ₹11999</strike></h1>
        </div>
        <div class="price">
            <p class="price_dis"><span id="span">Black Friday Sale</span></p>
            <h1 class="price_dis" id="price_font">₹ 999 <strike> ₹1500</strike></h1>
        </div>
        <div class="price">
            <p class="price_dis"><span id="span">Limited Time Discount</span></p>
            <h1 class="price_dis" id="price_font">₹ 4999 <strike> ₹9999</strike></h1>
        </div>
    </div>
    <div id="main_div3">
        <div class="view">
            <button class="detail_button">View Details</button>
        </div>
        <div class="view">
            <button class="detail_button">View Details</button>
        </div>
        <div class="view">
            <button class="detail_button">View Details</button>
        </div>
        <div class="view">
            <button class="detail_button">View Details</button>
        </div>
    </div>

</section>
<section>
    <h1 class="company">Top <span id="span">companies</span> our students</h1>
    <h1 class="company">working with</h1>
</section>
<br>
<br>
<section>
    <div id="icon1">
        <img id="bb_icon" src="{% static 'images/all_icons.webp' %}" alt="">
    </div>
</section>
<br>
<section>
    <button id="coueses_button">Explore Courses</button>
</section>
<footer>
    <div id="footer">
        <div class="foot_div">
            <p>🤶</p><br>
            <p>Let's connect with our socials</p>
        </div>
        <div class="foot_div">
            <h4>COMPANY</h4><br>
            <a href="">About Us</a><br><br>
            <a href="">Support</a><br><br>
            <a href="">Privacy Policy</a><br><br>
            <a href="">Terms and Condition</a><br><br>
            <a href="">Pricing and Refund</a><br><br>
            <a href="">Hire From Us</a><br><br>
            <a href="">Bug Bounty</a><br>
        </div>
        <div class="foot_div">
            <h4>COMMUNITY</h4><br>
            <a href="">Inertia</a><br><br>
            <a href="">Discord</a>
        </div>
        <div class="foot_div">
            <h4>Get In Touch</h4><br>
            <a href="">+91 8109161752</a><br><br>
            <a href="">+91 9691778470</a><br><br>
            <a href="">hello@sheryianscom</a><br><br>
            <a href="">
                <p>23-B,Indrapuri Sector C,</p>
                <p>Bhopal(MP),462021</p>
            </a>
        </div>
    </div>
</footer>
<hr id="line">
<hr id="line1">
<br>
<section>
    <div id="bottom">
        <h2 class="bottom_tag">Copyright @ 2024 Sheryians Pvt.Ltd.</h1>
        <h2 class="bottom_tag">All Rights Reserved.</h1>
    </div>
</section>
</body>
</html>